.txtarea {
    font-size: x-large;
    width: 100%;
}

.newhomewrap {
    font-size: x-large;
    width: 100%;
}

.signupWrap {
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(0, 0, 0); */
    color: white;
}

.signupInnerWrap {
    margin-left: auto;
    margin-right: auto;
}

#backtomain {
    float: right;
    position: relative;
    padding-top: -4%;
    margin-top: -1.5%;
}

.btn {
   height: auto;
   width: 100%;
   font-size: x-large;
   background-color: grey;
}

#login {
    width: auto;
    font-size: small;
    font-weight: 600;
    border: 0;
    padding-left: -4%;
    padding-right: 4%;
}

#login:hover {
    color:rgb(2, 60, 185);

}



html {
    background-image: linear-gradient(to right, rgb(185, 90, 2) , rgba(177, 113, 53, 0.61));
}

.InnerWrap {
    padding: 5px;
}